
.help-block {
    color: red;
}

.includednavigation {
    position: fixed;
!important;
    width: 100%;
!important;
}

.pad {
    padding-top: 100px;
}

.pad3 {
    padding-top: 25px;
}

.preload {
    transition: height 1.66s ease-out;
}

.table-content a {
    display: inline-block;
    padding: 10px;
}